.hidden {
    display: none;
}

.stairs {
    background-image: url(../assets/buttons/stairs.svg);
    width: 15rem;
    height: 15rem;
}

.straight {
    background-image: url(../assets/buttons/straight.svg);
    width: 15rem;
    height: 15rem;
}

.vanillacake{
    background-image: url(../assets/buttons/vanillacake.svg);
    width: 15rem;
    height: 15rem;
}

.chocolatecake{
    background-image: url(../assets/buttons/chocolatecake.svg);
    width: 15rem;
    height: 15rem;
}

.redvelvetcake{
    background-image: url(../assets/buttons/redvelvetcake.svg);
    width: 15rem;
    height: 15rem;
}

.confetticake{
    background-image: url(../assets/buttons/confetticake.svg);
    width: 15rem;
    height: 15rem;
}

.meringuewithstrawberries{
    background-image: url(../assets/buttons/meringuewithstrawberries.svg);
    width: 15rem;
    height: 15rem;
}

.buttercream{
    background-image: url(../assets/buttons/buttercream.svg);
    width: 15rem;
    height: 15rem;
}

.icing{
    background-image: url(../assets/buttons/icing.svg);
    width: 15rem;
    height: 15rem;
}

.mirenquewithcherries{
    background-image: url(../assets/buttons/meringuewithcherries.svg);
    width: 15rem;
    height: 15rem;
}

.candles{
    background-image: url(../assets/buttons/candles.svg);
    width: 15rem;
    height: 15rem;
}

.chocolate{
    background-image: url(../assets/buttons/chocolate.svg);
    width: 15rem;
    height: 15rem;
}

.strawberry{
    background-image: url(../assets/buttons/strawberry.svg);
    width: 15rem;
    height: 15rem;
}

.vanilla{
    background-image: url(../assets/buttons/vanilla.svg);
    width: 15rem;
    height: 15rem;
}

.blueberry{
    background-image: url(../assets/buttons/blueberry.svg);
    width: 15rem;
    height: 15rem;
}

.pistachio{
    background-image: url(../assets/buttons/pistachio.svg);
    width: 15rem;
    height: 15rem;
}